* {
  margin: 0;
  padding: 0;
}



/*************************Police de la description**********************************/
@font-face {
  font-family: 'dancing_script_otregular';
  src: url('font/dancingscript-regular-webfont.woff2') format('woff2'),
    url('font/dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-weight: 400px;
}

.brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***********************Centrage de la description*********************/
.description {
  font-family: 'dancing_script_otregular';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/********************Menu de navigation************************/

.navigation {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 4px 0px 4px 4px rgba(163, 158, 158, 0.082);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 157%;
  text-align: center;
  height: auto;
  padding-left: 15%;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

nav li {
  margin-right: 50px;
  justify-content: left;
}

.fa-solid:hover {
  color: #ca9b52;
}

/************************Liens sociaux*****************************/
.top-socials:hover {
  color: #ca9b52;
}

.top-socials {
  display: block;
  float: right;
  text-align: right;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 550px;
  line-height: 50px;

}

/*******************Survol des liens réseaux sociaux****************/
a:hover {
  color: #ca9b52;
}

.container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/**********************Section************************/

section {
  position: absolute;
  width: 185%;
  padding-left: 25%;
/* margin: auto; */
float: center;
}


/**********************snap droite************************/
aside {
  display: block;
  width: 20%;
  position: relative;
  margin-left: 62%;
  margin-right: 30%;
  text-align: center;
  height: 1869.86px;
  margin-top: 10px;
  border: solid ;
    }

    /***************lien design*************************/

    .lien-design {
      margin-top: 15px;
      width: 100%;
      margin-left: 150px;
      font-family: 'Open Sans', sans-serif;
    }
