* {
  margin: 0;
  padding: 0;
}



/*************************Police de la description**********************************/
@font-face {
  font-family: 'dancing_script_otregular';
  src: url('font/dancingscript-regular-webfont.woff2') format('woff2'),
    url('font/dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans_regular_macroman';
  src: url('font/opensans_regular_macroman') format('woff2'),
    url('font/opensans_regular_macroman') format('woff');
  font-weight: normal;
  font-style: normal;
}

/***************************Police du h1*******************************/
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('font/PlayfairDisplay-Regular.otf') format('woff2'),
    url('font/PlayfairDisplay-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-weight: 400px;
}

.brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***********************Centrage de la description*********************/
.description {
  font-family: 'dancing_script_otregular';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/********************Menu de navigation************************/

.navigation {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 4px 0px 4px 4px rgba(163, 158, 158, 0.082);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 157%;
  text-align: center;
  height: auto;
  padding-left: 15%;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: 'Open Sans', bold, sans-serif;
  height: 60px;
}

nav li {
  margin-right: 50px;
  justify-content: left;
}

.fa-solid:hover {
  color: #ca9b52;
}

/************************Liens sociaux*****************************/
.top-socials:hover {
  color: #ca9b52;
}

.top-socials {
  display: block;
  float: right;
  text-align: right;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 550px;
  line-height: 50px;

}

/*******************Survol des liens réseaux sociaux****************/
a:hover {
  color: #ca9b52;
}

.container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/**********************Section************************/

section {
  position: absolute;
  width: 100%;
  padding-left: 25%;
  /* margin: auto; */
  /* float: center; */
}


/**********************snap droite************************/
aside {
  position: fixed;
  display: block;
  width: 20%;
  position: relative;
  margin-left: 65%;
  margin-right: 130%;
  text-align: start;
  height: 1869.86px;
  margin-top: 40px;
  border: solid;
  padding-left: 40px;
}

/***************lien design*************************/

.lien-design ul {
  padding-top: 20px;
  padding-left: 120px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  line-height: 17.25px;
  margin-bottom: -20px;
}

.lien-design li {
list-style: none;
letter-spacing: 2px;

}

.lien-design a {
font-family: 'Open Sans', sans-serif;
color: #ca9b52;
text-decoration: none;
justify-content: space-between;
padding-left: 9px ;
font-size: small;
font-weight: bold;
}

h1{
font-family: PlayfairDisplay;
font-size: 40px;
letter-spacing: 0.5px;
padding-left: 30px;
font-weight: 300;
margin-top: -2px;
}

/**********************Liens des commentaires******************/
.commentaires {
width: 80%;
margin-left: 14%;
margin-top: 10px;
margin-bottom: 50px;
font-family: PlayfairDisplay;
color: #a1a1a1;
font-style: italic;
font-size: 15px;
}

article {
  /* display: flex; */
  width: 39%;
  /* width: 19% */
}

p {

font-size: 15px;
text-align: justify;
line-height: 25px;
font-family: 'Open Sans', sans-serif;
padding-left: 10px;
}

em {
color: #ca9b52;font-style: normal;
}

.deux {
color: #464646;;
margin-top: 13px;
margin-bottom: 13px;

}

.l {
float: left;
width: auto;
height: 70px;
line-height: 17.25px;
font-size: 15px;
text-align: justify;

}

.un {
width: 39%;
margin-right: 55px
}

.trois {
margin-top: 13px;
color: #464646;
}

p {
  color:#464646;
}

figcaption {
margin-left: 4%;
}
